
.tom {
margin: 0;
width: 100vw;
height: 100vh;
background: rgb(3,144,53);
background: linear-gradient(90deg, rgba(3,144,53,1) 0%, rgba(63,159,179,1) 100%);

animation: faze 10s infinite;
background-size: 400% 400%;
/*full page was styled & added javascript to change colour slowly*/
}


@keyframes faze {
  0% {
    background-position: 0% 50%;
  }

  50% { background-position: 100% 50%;

  }

  100% {
    background-position: 0% 50%;
    /*this was the postitions that they were changed via keyframes*/
  }

}

.menuItem {
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  pointer-events: none;

/*menu items were given some style*/
}

.menu
{
  position: absolute;
  background-color: rgb(29, 226, 167);
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
  overflow: hidden;

/*this is the small square menu box, colour chosen from colour picker*/
}
.out
{
  background-color: rgb(44, 112, 79);
  width: 45vw;
  height: 50vh;
  font-size: 12pt;
  /*menu when pressed, comes out to show links, background changed to similar colour as
  page background to not clash*/
}
.out .menuItem {
  opacity: 1;
  pointer-events: all;
  /*opacity changed so when pressed the text can be seen*/
}
a{
  display: block;
}

.header{
background-color: rgb(6, 6, 6);
width: 95vw;
  text-align: center;
  font-size: 20pt;
  font-family: sans-serif;
display: block;
padding: 10px;
color: white;

    margin: 20px 20px 20px;


    border-color: rgb(202, 246, 247);
    border-style: solid;


    /*style added to headers on all pages, black with white boarder & text to stand out*/
}


footer{
  background-color: rgb(6, 6, 6);
width: 95vw;
  text-align: center;
  font-size: 10pt;
  font-family: sans-serif;
display: block;
padding: 10px;
color: white;
    margin: 20px 20px;
    border-color: rgb(202, 246, 247);
    border-style: solid;
}
/*style added to the footer, similar to the header*/

.bio{
  font-size: 24pt;
  color: white;
  text-align: center;
  font-family: monospace;
}
/*Style added to text on home page */


.high{
  color: white;
  text-align: center;
  font-family: monospace;
}
/* high = 'how i got here', style added to match all other font's on the page*/

nav
{
  position: fixed;
margin:75px 40px;
/*margin added to the nav and position fixed*/

}
video{
  margin: 20px;

}
/* a small margin around the video to help space out*/

.biop{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18pt;
  font-family: monospace;
  text-align: justify;
}
/*this is my bio paragraph, good size and colour to stand out*/

.social{
  color: white;
font-family: monospace;
font-size: 24pt;
text-align: center;
font-style: italic;
margin: 20px;
text-decoration: none;
}
/*socal media font & style added to look more pleasing*/

.recipe{
display: block;
  margin-left: auto;
  margin-right: auto;
}
/*all images on the recipe/review page resized in photoshop to 440x266px then styled to the centre of the page*/


.twenty{
  color: white;
}
/*external link on recipe/review page coloured white*/

.capure{
  font-size: 10pt;
font-style: italic;
text-align: center;
color: white;
}

/*all images contain a caputre which has been styled with the above*/
