
body{
  background-image: url("../image/starbackground.jpg");
}


h1{
  text-align: center;
  color: rgb(234, 239, 242);
}

h2{
  text-align: center;
  color: rgb(234, 239, 242);
}

h3{
  color: rgb(234, 239, 242);
}

img{
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 4px 4px rgb(67, 69, 67);

}

header{
  background-color: rgb(36, 9, 62);
  padding: 10px;
  color: white;
  margin: 10px 10px;
}

footer{
  background-color: rgb(36, 9, 62);
  padding: 10px;
  color: white;
  margin: 10px 10px;
}

a{
  color: rgb(234, 239, 242);



}

section{
  background-color: rgb(13, 13, 66);
  border: 20px 20px;
padding: 10px 10px;
margin: 10px 10px;
}

p{
  color: rgb(234, 239, 242);
  font-size: 16pt;
