img{
  width: 100%;
}
header{
  background-color: rgb(231, 18, 82);
  margin: -8px;
  height: 90px;
  line-height: 45px;
  text-align: center;
  color: yellow;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}
body{
  margin: 0;
  background-color: rgb(240, 233, 84);

}
article{
  padding: 8px;
  display: block;
}
div{
  height: 90px;
}
